<!DOCTYPE html>
<html>
<head>
  <title>Aberdeen Number 1 Movie Site</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
 
 <%= @page_title || "Aberdeen's Movie Catalog" %>
 </div>
 <div id="columns">
 <div id="side">
 <ul>
 <li> <%= link_to "Home", movie_index_path %></li>
 <li> <%= link_to "Update Movies", products_path %></li>
  <li><%= link_to "Developers' Contact", contact_name_path %></li><br />
  <br /><br /><br /><br />
  <li><p><%= Time.now.strftime('%A, %d-%B-%Y %H:%M') %></p></li>
 </ul>
 </div>
 <div id="main">

 <% flash.each do |name, msg| %>  

    <%= content_tag :div, msg, :id => "flash#{name}" %>  

  <% end %> 
<%= yield %>

</body>
</html>
